@font-face {
  font-family: "iconfont"; /* Project id 4434243 */
  src: url('iconfont.woff2?t=1707306029483') format('woff2'),
       url('iconfont.woff?t=1707306029483') format('woff'),
       url('iconfont.ttf?t=1707306029483') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-gongneng:before {
  content: "\e867";
}

.icon-erweima:before {
  content: "\e619";
}

.icon-shangchuantupian:before {
  content: "\e6e9";
}

.icon-xiaodianshi:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e603";
}

